body {
  background-color: lightblue;
  margin: 20px 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #333;
}

h1 {
  text-align: center;
}

img {
  width: 200px;
}

.center-img {
  display: block;
  margin: 20px auto;
  width: 300px;
  border-radius: 15px;
}

p {
  line-height: 1.6;
  margin-bottom: 18px;
  font-size: 1.1rem;
}

ul, ol {
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
}